@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
$breakpoints: (
  'narrow': 450px,
  'phone': 768px,
  'tablet': 1024px,
  'desktop': 1920px,
  ) !default;

@import '/node_modules/include-media/dist/include-media';


.sr-only__title {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 200ms;

  width: 100%;
  padding-inline: 6vw;
  padding-top: 5rem;
  box-sizing: border-box;
  padding-bottom: 3rem;

  @include media('>phone') {
    padding-top: 7rem;
    padding-bottom: 5rem;
  }
}

.hero__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  max-width: 60rem;
  margin-inline: auto;
}

.hero__title {
  position: relative;
  height: fit-content;
  width: 100%;
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  z-index: 2;

  @include media('<tablet') {
    max-width: 100%;
  }
}

.title__wrapper {
  overflow: hidden;
  text-align: left;
  width: 100%;
  transition: color 200ms;
  font-weight: 200;

  &:nth-child(2) {
    padding-left: 5%;
  }

  &:nth-child(3) {
    // margin-top: 2vw;
    margin-left: 15%;
    margin-top: 1vw;

    .title {
      font-weight: 600;
    }
  }

  &:nth-child(4) {
    // text-align: right;
    margin-left: 22%;
    margin-top: 1vw;

    .title {
      font-weight: 600;
    }
  }

  @include media('<phone') {
    margin-bottom: 0.5rem;
  }
}

.title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 8vw;
  transform-origin: bottom left;
  opacity: 0;

  @include media('<tablet') {
    font-size: 11vw;
  }

  @include media('<phone') {
    // font-size: 13vw;
  }

  @include media('>desktop') {
    font-size: 7.3rem;
  }
}

.title__wrapper:first-child {
  align-self: flex-start;
}

.title__wrapper:last-child {
  // align-self: flex-end;
  // text-align: right;
}

